.form-control-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;

    & .control-label {
        color: #2F363C;
        font-weight: 500;
        font-size: 14px;
    }

    & .form-control {
        border: 1px solid #BDC5CB;
        padding-block: 10px;
        padding-inline: 14px;
        border-radius: 8px;
        color: #FEFEFE;
    }
}
