
DATABASE_URL="postgres://postgres:postgres@127.0.0.1:5432/zerf_db"

SHADOW_DATABASE_URL="postgres://postgres:postgres@localhost:5432/zerf_db_shadow"

ROOT_DATABASE_URL="postgres://postgres:postgres@localhost:5432/postgres"

PORT=3001
SHIFT4_URL="https://api.shift4.com"
SHIFT4_PRIVATE_KEY=""

POSTGRES_PASSWORD=""
POSTGRES_USER=""
POSTGRES_DB="zerf_db"
